.mod_title,.mod_header,.mod_ctrl,.vg_pane.mod_subheader.hide-vg
{
      background:#ffffff;
}
.mod_header{
  background: #ffffff  !important;
  min-height: 45px;
  max-height: 45px;
}

.mod_body
{
    max-height: 70%;
}

.dragIcon{
    position: absolute;
    display: none;
    top: 20px;
    width: 25px;
    height: 25px;
}
/*class="mod_body spec vl-spec hide-vg ace_editor ace-tm"*/
